
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <app-explore-container name=""></app-explore-container>

  <form class="list-form">
    <ion-item>
      <ion-label floating>
        <ion-icon name="mail" item-start class="text-primary"></ion-icon>
        Email
      </ion-label>
      <ion-input type="email" class="formControl" #email required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon name="lock-closed" item-start class="text-primary"></ion-icon>
        Mot de passe
      </ion-label>
      <ion-input type="password" class="formControl" #password required></ion-input>
    </ion-item>
  </form>

  <div margin-top>
    <ion-button color="secondary" value="Sign In" (click)="authService.LoginUser(email.value, password.value)">
      Se connecter
    </ion-button>
  </div>

</ion-content>