<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top ion-text-center">
    <a href="tabs/home">
      <img src="../../assets/img/Logo_Mink.png" width="12%" alt="logo">
    </a>
  <div class="margin-top">
    <a href="tabs/adopter">
      <img src="../../assets/img/dog.jpg" width="80%" alt="chien">
      <h3>Adopter</h3>
    </a>
  </div>
  <div class="margin-top">
    <a href="tabs/signaler">
      <img src="../../assets/img/chat.png" width="80%" alt="chat">
      <h3>Signaler</h3>
    </a>
  </div>
  <div class="margin-top">
    <a href="tabs/">
      <img src="../../assets/img/Sengager.png" width="80%" alt="humain et chat">
      <h3>S'engager</h3>
    </a>
  </div>

  
</ion-content>
